<main>
  <section class="cardapio">
    <h1>NOSSO CARDÁPIO</h1>

    <div class="hamburguer-grid">
      {{#each hamburguer}}
      <div class="hamburguer-card">
        <img src="/uploads/{{this.image}}" alt="{{this.name}}">
        
        <div class="hamburguer-info">
          <h3>{{this.name}}</h3>
          <span class="price">R$ {{this.price}}</span>
          <a href="/hamburguers/hamburguer/{{this.id}}" class="btn-detalhes">
            Ver detalhes
          </a>
        </div>
      </div>
      {{/each}}
    </div>
  </section>

  <section class="categorias">
    <h1>CATEGORIAS</h1>

    <div class="categorias-container">
      <a href="#"><img src="imagens/bebidas.jpg" alt="bebidas"></a>
      <a href="#"><img src="imagens/porção.6.jpg" alt="porção"></a>
      <a href="/hamburguers"><img src="imagens/hamburguer.9.jpg" alt="hambúrguer"></a>
      <a href="#"><img src="imagens/cervejas.jpg" alt="cerveja"></a>
    </div>
  </section>
</main>
