<div id="burguer-page">
    <a href="/">voltar</a>
    <div class="container">
        <img src="/uploads/{{hamburguer.image}}" alt="{{hamburguer.name}}">
        <h1>{{hamburguer.name}}</h1>
        <p>preço: R$ {{hamburguer.price}}</p>
        <p>descrição: {{hamburguer.description}}</p>
        <div class="actions">
            <a href="/hamburguers/edit/{{hamburguer.id}}">Editar</a>
            <form action="/hamburguers/remove/{{hamburguer.id}}" method="post">
                <input type="submit" value="Remover">
            </form>
        </div>
    </div>
</div>